# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Sensitive files
.env
*.env

# Output & logs
*.log
*.txt
results/
output/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
